.full-page-body
	
	.header
		position: fixed
		top: 0
		left: 0
		right: 0
		z-index: 10
	
	.menu
		position: fixed
	.footer
		position: absolute
		bottom: 0
		left: 0
		right: 0
		padding: 30px 0 20px 
.section
	position: relative
	height: 100vh
	+tr(height .3s)
	overflow: hidden
	&[data-section="7"]
		z-index: 2
	&__img
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		+cover
		+tr(transform 20s)
	&.active
		.section__img
			+scale(1.2)
	&__vertical
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		+vertical
		+rh(760)
			top: 220px
	&__in
		display: inline-block
		vertical-align: middle
		width: 100%
		+r(1024)
			margin-top: -180px
		+r(767)
			margin-top: -50px
.section-nav
	position: fixed
	top: 160px
	bottom: 0
	left: 0
	right: 0
	+vertical
	+gpu
	+r(1023)
		top: 140px
	ul
		display: inline-block
		vertical-align: middle
		+light
	li
		position: relative
		white-space: nowrap
		&:before
			content: ""
			position: absolute
			bottom: 80%
			left: 50%
			width: 1px
			height: 30px
			background: #fff  
			+r(767)
				display: block
				bottom: 78%
			+rh(760)
				height: 20px
			+rh(550)
				display: none
		&:first-child
			&:before
				display: none
	a
		display: inline-block
		padding: 20px 0 
		color: #fff
		font-size: 30px 
		+tr(font-size .2s)
		+r(1023)
			font-size: 30px
		+r(767)
			font-size: 16px
			padding: 15px 0 
		+rh(760)
			padding: 10px 0 
		+rh(760)
			font-size: 24px
		+rh(550)
			font-size: 20px
		+rh(480)
			padding: 5px 0 
		&.is-active
			font-size: 60px
			+r(1023)
				font-size: 48px
			+r(767)
				font-size: 22px
			+rh(760)
				font-size: 30px
			+rh(550)
				font-size: 24px
.nav-icon
	display: block
	white-space: nowrap
	margin-bottom: 100px
	text-align: left
	padding-right: 60px
	+gpu	
	+r(1024)
		margin-bottom: 20px
	&:hover
		i
			opacity: 0.8
	i
		display: inline-block
		vertical-align: middle
		margin-right: 13px
		+tr(opacity .3s)
	span
		display: inline-block
		white-space: normal
		vertical-align: middle
		font-size: 30px
		+light
		line-height: 1.16
		color: #fff 		
		+r(1230)
			font-size: 24px
		+r(1024)
			font-size: 18px	
@for $i from 1 through 6
	.icon-#{$i}
		+svg(icon#{$i},70,70)
		+r(1024)
			background-size: 35px 35px
			width: 35px
			height: 35px
.history-page
	.out
		+cover
	.breadcrumbs
		background: #fff
	.page-head
		+r(767)
			border-bottom: 1px solid #fff 
.history
	overflow: hidden
	padding: 30px 0 
	> .container
		position: relative
		&:before,
		&:after
			content: ""
			position: absolute
			top: 50%
			height: 1px
			width: 1500px
			background: #fff
			+r(1023)
				display: none
		&:before
			left: -1610px
		&:after
			right: -1610px
	&__slider
		position: relative
		width: 67%
		margin: 0 auto 
		+r(1023)
			width: 100%
			
		&:before,
		&:after
			content: ""
			position: absolute
			top: 50%
			height: 1px
			width: 21.5%
			background: #fff
			+r(1230)
				display: none
		&:before
			left: -25%
		&:after
			right: -25%
	&__item
		display: table
		table-layout: fixed
		width: 100%
		color: #fff 
		+r(767)
			display: block
			margin-bottom: 70px
	&__date
		display: table-cell
		vertical-align: middle	
		width: 25%
		padding: 16% 0 
		+reg
		font-size: 48px
		+r(1023)
			width: 100px
			font-size: 36px
		+r(767)
			display: block
			padding: 0 
			margin-bottom: 26px
			font-size: 24px
			width: 100%
	&__info
		display: table-cell
		vertical-align: middle	
		font-size: 16px
		line-height: 1.6
		+med
		+r(767)
			display: block
			line-height: 1.6
			font-size: 14px
			+reg
		p
			margin-bottom: 25px
			+r(767)
				margin-bottom: 28px
			&:last-child
				margin-bottom: 0
	.slick-prev
		left: -34%
		+svgi(prev,21,60)
		+r(1230)
			left: -20%
		+r(1023)
			left: -50px
	.slick-next
		right: -34%
		+svgi(next,21,60)
		+r(1230)
			right: -20%
		+r(1023)
			right: -50px
	.slick-disabled
		margin: -20px 0 0 -5px
		border: 1px solid #fff
		width: 40px
		height: 40px
		border-radius: 50% 
		background: none
		pointer-events: none
		&:before
			content: ""
			position: absolute
			left: 50%
			top: 50%
			margin: -5px 0 0 -5px 
			width: 10px
			height: 10px
			background: #fff  
			border-radius: 50% 

.fullpage
	height: 100vh !important
	+tr(height .3s)
.is-inactive-fullpage
	.fullpage
		height: 30vh !important
		overflow: hidden
.article_fullpage
	padding: 50px 