//  distrib_1.html

.brand
	margin-top: 30px 
	position: relative
	font-size: 0
	+clr
	&:after
		content: ''
		width: 100%
		height: 1px
		position: absolute
		bottom: 0px 
		background: #fff 
	+r(767)
		margin-top: 0
	&__item
		width: 25%
		display: inline-block
		vertical-align: top
		position: relative
		height: 220px 
		padding-top: 25px
		border-bottom: 1px solid $border
		+r(1022)
			width: 33.333% 
		+r(767)
			width: 100% 
			border-bottom: 0px 
			height: 180px 
		p
			color: #b9beb1
			font-size: 12px
	&__img
		height: 90px 
		+vertical
		text-align: left
		img
			vertical-align: middle
	&__info
		margin-top: 60px 
		+r(767)
			margin: 60px -10px 0 
	&__name
		margin-top: 17px
		font-size: 16px
		+med
		color: $black 
.brand_inline
	color: $black 
	background: $bg 
	margin: 0 0 45px
	.brand__item
		width: 50%
		border-left: 1px solid #fff 
		border-top: 1px solid #fff 
		height: 140px
		+r(1023)
			width: 100%
			border-left: 0
		&:nth-child(2n+1)
			border-left: 0
	.brand__img
		float: left
		width: 25%
		padding-left: 10px
		height: auto
		text-align: right
		+r(1023)
			width: 20%
		img
			max-width: 100%
	.brand__main
		overflow: hidden
		padding-left: 30px
		font-size: 15px
		+r(1023)
			font-size: 13px
	.brand__title
		display: inline-block
		margin-bottom: 8px
		+med
		font-size: 18px
		color: $black 
		+tr(color .2s)
		+r(1023)
			font-size: 16px
		&:hover
			color: $green 
	.brand__text
		margin-bottom: 5px
.link
	color: $green
	font-size: 15px
	+tr(color .2s)
	&:hover
		color: $green_h 
.link_small
	font-size: 12px
.link-out
	position: relative
	display: block
	color: $green
	+med
	font-size: 16px 
	margin: 12px 0 5px
	+tr(color .3s)
	&:hover
		color: $green_h
	&:after
		content: ''
		display: inline-block
		vertical-align: top
		margin-left: 3px 
		+svg(link,10,10)
	&_no-mg
		margin-top: 0
	&_small
		font-size: 15px

	
.product
	background: $bg
	margin-bottom: 1px
	+clr
	min-height: 160px 
	padding: 30px 0
	+r(767)
		min-height: 320px 
		padding: 40px 20px 50px
	&__img
		text-align: center
		padding-right: 30px
		position: relative
		+r(1230)
			padding-right: 20px
		
		+r(767)
			padding-left: 0 
			padding-right: 0
			margin-bottom: 26px 
			text-align: left
		img
			max-width: 100% 
		.btn-remove
			position: absolute
			right: 0
			top: 0
	&__text
		padding-right: 70px
		+r(1230)
			padding-right: 30px
		+r(767)
			padding: 0
	&__price
		padding-left: 20px
		position: relative
		.btn-remove
			position: absolute
			right: 0
			top: 0
	.title-link
		margin-bottom: 13px
.product_extend
	.product__img
		text-align: left
		padding: 0 20px 
		+r(767)
			text-align: center
.btn-remove
	border: 1px solid $green
	width: 40px
	height: 40px
	border-radius: 50%
	background: none
	&:before
		content: ""
		display: inline-block
		vertical-align: middle
		+svg(close-violet,14,14) 
.icon-file
	+svg(file,22,29)

.file-wrap
	font-size: 0
	li
		display: inline-block

.file
	font-size: 0
	.file__dwnld, .file__info
		display: inline-block
		vertical-align: top
		+r(767)
			margin-bottom: 40px  
	.file__dwnld
		position: relative
		font-size: 0
		margin-right: 16px 
	.file__type
		position: absolute
		bottom: 0
		left: 4px 
		+bold
	.title-link
		margin-bottom: 5px 
.text_small
	font-size: 8px
	
.our-net
	text-align: right
	+r(1023)
		text-align: left