// abc_2.html styles

				
.abc
	+column-count(4)
	+column-gap(20px)
	padding: 52px 0 120px
	// margin-top: 44px 
	+r(1022)
		+column-count(3)
	+r(767)
		+column-count(1)
	.abc__main
		background: #f6f6f4 
	.abc__chapter
		margin-bottom: 25px 
		// display: inline-block
		vertical-align: top
		width: 100% 
		li
			padding-bottom: 24px
		a
			color: $green 
			font-size: 15px 
			+tr(color .3s)
			&:hover
				color: $green_h
	.abc__title
		font-size: 24px 
		// margin-top: 44px
		margin-bottom: 12px 


.plants
	position: relative
	&__bg
		max-width: 1406px
		z-index: 2
		position: relative
		img
			width: 100%
			height: auto
.plant
	position: absolute
	z-index: 3