.slider
	position: relative
	z-index: 1
	opacity: 0
	margin-top: -1px
	visibility: hidden
	+tr(opacity .3s)
	> .container
		position: relative
		height: 1px
		z-index: 2
	.slick-slider
		clear: both
	.slick-dots
		bottom: 293px
	&.is-ready
		opacity: 1
		visibility: visible
.slider__item
	overflow: hidden
	max-height: 760px
	
	> .container
		position: relative
.slider__info
	position: absolute
	top: 0
	left: 15px
	+reg
	color: #fff 
.slider__img
	img
		display: block
		width: 100%
		height: auto
		+r(1600)
			height: 100%
			width: auto
			max-width: 1000%
.slider__title
	font-size: 72px
	line-height: 1
	+r(1230)
		font-size: 48px
.slider__info
	font-size: 30px
	margin: 15px 0 0
	line-height: 1.2
	+r(1230)
		font-size: 24px
.slider__main
	position: absolute
	left: 0
	right: 0
	top: 19.5%
	bottom: 260px
	+r(1230)
		bottom: 204px
.slider__title
	margin-bottom: 35px
.slider__slogan
	font-size: 60px
	+light
	+r(1230)
		font-size: 48px
.slider__prod
	position: relative
	display: inline-block
	&.is-brown
		&:before
			+g(rgba(#a26c01,.1), rgba(#a26c01, .9))
	&.is-black
		&:before
			+g(rgba(#000,.1), rgba(#000, .7))
	&.is-blue
		&:before
			opacity: 0.6
			+g(rgba(#248482,.1), rgba(#248482, .9))
	&:before
		content: ""
		position: absolute
		right: 74px
		top: 0
		width: 260px
		height: 260px
		border-radius: 50% 
		opacity: 0.7
	img
		position: relative
		z-index: 2
.slider__prev
	position: absolute
	left: -70px
	top: 225px
	+svg(prev,21,60)
	+r(1230)
		left: -15px
.slider__next
	position: absolute
	right: -70px
	top: 225px
	+svg(next,21,60)
	+r(1230)
		right: -15px
.banners-wrap
	position: relative
	z-index: 3
	margin-top: -260px
	overflow: hidden
	background: rgba(#fff,.5) 
	+r(1230)
		margin-top: -204px
	.row
		> div
			position: relative
			&:first-child
				&:before
					content: ""
					position: absolute
					left: 10px
					top: 0
					bottom: 0
					width: 10px
					+rotate(-4)
					box-shadow: 0 0 30px rgba(#000,1) 
			&:last-child
				&:before
					content: ""
					position: absolute
					right: 10px
					top: 0
					bottom: 0
					width: 10px
					+rotate(4)
					box-shadow: 0 0 30px rgba(#000,1) 
.banner
	position: relative
	display: block
	overflow: hidden
	img
		display: block
		width: 100%
		height: auto
	&__title
		position: absolute
		top: 20px
		left: 30px
		font-size: 18px
		+med
		color: #fff 
	.title
		position: absolute
		left: 30px
		top: 20px
	.title_white
		padding-left: 90px
		line-height: 1.1
		+r(1230)
			padding-left: 65px
		.cart-circle
			position: absolute
			left: 0
			top: 0
.banner_shop
	.title_white	
		padding-left: 90px
.subscribe
	padding: 30px 
	background: $bg  
	&__btn
		position: absolute
		right: 0
		top: 0
		height: 40px
		width: 40px
		background: $green
		&:hover
			background: $green_h
			i
				&:after
					opacity: 1
		i
			display: inline-block
			position: relative
			vertical-align: middle
			+svg(subscribe,14,11)
			&:after
				content: ""
				position: absolute
				top: 0
				left: 0
				opacity: 0
				+svg(subscribe-white,14,11)

	.input
		border-width: 0
		border-top-width: 1px 
.cart-circle
	display: inline-block
	width: 50px
	height: 50px
	text-align: center
	line-height: 50px
	border-radius: 50% 
	background: $green_h
	i
		vertical-align: middle
	