.goods
	.share
		margin: 55px 0 0
	&__img
		position: relative
		padding-top: 15px
		img
			display: block
			max-width: 100%
		.badge
			top: 0
			left: 0
	&__logo
		margin: 10px 0
	&__title
		margin-bottom: 40px
		font-size: 48px
		+reg
		line-height: 1
	&__info
		font-size: 18px
		+med
	&__buy
		margin: 50px 0 35px 
		font-size: 15px
		+med
		span
			margin-right: 25px
			vertical-align: middle
	.icon-list
		color: #a8ae9d 
	.icon-param1
		+svgi(param1-gray)
	.icon-param2
		+svgi(param2-gray)
	.icon-param3
		+svgi(param3-gray)
	.icon-param4
		+svgi(param4-gray)
	.links
		margin: 15px 0 
		color: #a8ae9d 
.goods__action
	margin: 45px 0 35px
	font-size: 0
	.price
		margin: 0 20px 10px
	.select,
	.btn-cart
		margin: 0 10px
.slider-items
	padding: 40px 0 100px 
	margin: 100px 0 45px
	+cover
	&__title
		margin-bottom: 28px
		font-size: 24px
		color: #fff
		+reg 
	.el
		border: 0
	.slick-slide
		padding-right: 1px
	.slider-prev
		left: -35px
		top: 175px
	.slider-next
		right: -35px
		top: 175px
		
.price-old
	display: inline-block
	vertical-align: middle
	color: $light 
	+reg
	line-height: 1
	font-size: 15px
	text-align: center
	span
		display: block
		position: relative
		font-size: 30px
		+med
		&:before
			content: ""
			position: absolute
			left: 0
			top: 50%
			right: -3px
			height: 1px
			background: $light 
.price-old_small
	span
		display: inline-block
		font-size: 15px
		+reg
.price-simple
	font-size: 15px
	+reg
	color: $black 
	span
		font-size: 30px
		+med	
.total-price
	border-bottom: 1px solid #fff 
	padding: 40px 0 
	font-size: 30px
	+med
	background: $bg
.section-main
	border-bottom: 1px solid #fff 
	padding: 32px 0 42px
	background: $bg
.price
	display: inline-block
	vertical-align: middle
	width: 80px
	height: 80px
	background: rgba($green, .85)
	border-radius: 50%  
	+vertical
	color: #fff 
	&__in
		display: inline-block
		width: 100%
		vertical-align: middle
		line-height: 1
		font-size: 15px
	span
		display: block
		position: relative
		font-size: 30px
		+med
		
.btn-cart
	display: inline-block
	vertical-align: middle
	position: relative 
	padding: 0 30px 0 65px 
	height: 50px
	line-height: 50px
	font-size: 16px
	+med
	color: #fff
	+font
	border-radius: 25px
	background: $green
	+tr(background .2s)
	&:hover
		background: $green_h 
	&:before
		content: ""
		position: absolute
		left: 15px
		top: 13px
		+svg(cart,30,25) 