.article
	font-size: 15px
	+reg
	line-height: 1.7
	+r(767)
		font-size: 14px
		line-height: 1.8
	+ .share
		margin-top: 70px
	> h2
		margin-bottom: 45px
		font-size: 48px
		line-height: 1.1
		+reg
		+r(1023)
			margin-top: 42px
			font-size: 36px
		+r(767)
			font-size: 24px
			margin-top: 35px
			line-height: 1.45
		+ .carousel
			margin-top: 0
	> h3
		margin: 40px 0 10px 
		font-size: 18px
		+med
		+r(767)
			font-size: 16px
			line-height: 1.6
		&:first-child,
		+ h3
			margin-top: 0
	> h4
		font-size: 16px  
		margin: 35px 0 10px 
	> h5
		font-size: 14px
		font-weight: 400 
		color: #a8ae9d
	> h6
		font-size: 14px
		font-weight: 300 
		color: #a8ae9d
	> p
		margin: 18px 0 
	a
		color: $green
		+tr(color .2s)
		&:hover
			color: $green_h 
	blockquote
		margin: 57px 0 50px -300px 
		padding: 30px 0 
		margin-left: -300px
		border-top: 1px solid $border 
		border-bottom: 1px solid $border 
		font-size: 24px
		color: #a8ae9d
		line-height: 1.45
		+r(1230)
			margin-left: -240px
		+r(1023)
			margin-left: 0
		+r(767)
			// margin: 0 -10px 
			font-size: 16px
			line-height: 1.6
	.table-wrap
		overflow: hidden
		+r(767)
			overflow-x: auto
	table
		padding: 20px 0
		background: #F6F6F4
		border-collapse: separate 
		border-spacing: 5px 0
		width: calc(100% + 10px)
		margin-left: -5px  
		min-width: 560px 
		th,
		td
			padding: 10px 
			p
				word-break: break-word 
		th
			text-align: left
			font-weight: normal  
			color: #A1A09E
			background: #EFEEEA
		td
			border-bottom: 1px solid #eee
	> ul, cite ul
		margin: 20px 0 
		+r(1023)
			margin-left: 20px 
		li
			position: relative
			margin-bottom: 15px
			&:before
				content: ""
				position: absolute
				background: #000 
				width: 10px
				height: 1px  
				left: -20px
				top: .66em 
		ul
			margin: 0
			margin-left: 20px 
	> ol, cite ol
		list-style-type: decimal 
		+r(767)
			margin-left: 20px 
		li
			margin-bottom: 15px 
	sup
		font-size: .5em
		display: inline-block
		vertical-align: top
		margin-top: .2em  
		&.footnote
			color: #a8ae9d
		a
			font-size: inherit
			color: inherit
			&:hover
				color: #a8ae9d
	sub
		display: inline-block
		vertical-align: bottom
		font-size: .5em
		margin-bottom: -.2em  
		a
			font-size: inherit
			color: inherit
			&:hover
				color: #a8ae9d
	cite
		display: block
		position: relative
		font-style: normal
		color: #a8ae9d
		z-index: 2 
		font-size: 12px
		padding: 20px 0
		

		&:before
			content: ''
			position: absolute
			left: -300px
			right: 0px  
			display: block
			top: 0
			height: 1px
			background: #efeeeb
			z-index: -1  
			+r(1230)
				left: -240px  
			+r(1023) 
				left: 0
		ol,
		ul
			color: inherit
			margin-left: 20px 
		li
			margin-bottom: 0 
.article_width
	blockquote
		margin-left: -8.33%
		+r(767) 
			margin-left: 0
		
.carousel
	position: relative
	z-index: 2
	margin-top: 52px
	padding: 50px 0
	background: $bg 
	+r(767)
		padding: 30px 0 
	&:before
		content: ""
		position: absolute
		top: 0
		bottom: 0
		left: -1000px
		right: -1000px
		z-index: -1
		background: $bg 
	.meta
		position: absolute
		left: -305px
		top: 44px
		width: 200px
		+r(1230)
			left: -240px
		+r(1023)
			margin-left: 0
		> div
			display: none
			&.is-active
				display: block
	.meta_static
		position: static
		width: 100%
		margin-top: 20px
.item-slider
	.slick-slider
		border-left: 1px solid #fff
		border-right: 1px solid #fff
	+r(767)
		border: 0
		padding-bottom: 50px
	.item
		width: 100%
		border-left: 1px solid #fff 
		+r(767)
			border: 0
	.el
		width: 100%
		padding-bottom: 98%
		border-left: 0
		border-top: 0
		border-right: 1px solid #fff 
		+r(767)
			border: 0
	.slick-dots
		text-align: left
		bottom: -10px
		li
			padding: 0 7px 0 0
		button
			border: 1px solid $light
			width: 8px
			height: 8px
			&:hover
				border-color: $green_h
		.slick-active
			button
				background: $light 
				&:hover
					border-color: $light 
// .title-h1
// 	font-size: 48px
// 	font-weight: 400 	
// 	line-height: 1.1 
// .title-h2
// 	font-size: 24px
// 	font-weight: 400 
.title-h3
	margin: 40px 0 10px 
	font-size: 18px
	+med
	+r(767)
		font-size: 16px
		line-height: 1.6
	&:first-child,
	+ h3
		margin-top: 0
// .title-h4
// 	font-size: 16px
// 	font-weight: 400 
// .title-h5
// 	font-size: 14px
// 	font-weight: 00 
// 	color: #a8ae9d
			
// .title-h6
// 	font-size: 14px
// 	font-weight: 300 
// 	color: #a8ae9d
			
.item
	position: relative 
	padding: 20px 30px 
	width: 300px
	height: 290px
	overflow: hidden
	
	&__img
		height: 190px
		overflow: hidden
		text-align: center
		img
			margin: 0 auto 
			max-width: 100%
			max-height: 100%
	.title-link
		padding-right: 36px
		height: 40px
		margin-bottom: 3px
		overflow: hidden
	.btn-circle
		position: absolute
		left: 35px
		bottom: 30px
.article-meta
	.date
		margin: 50px 0 20px
		+r(1023)
			margin: 0 10px 0 0
			vertical-align: middle
		+r(767)
			margin-bottom: 15px
	.btn-back
		+r(1023)
			margin: 0 90px 27px 0
	.tags
		+r(1023)
			display: none
	.links
		display: none
		+r(1023)
			display: inline-block
			vertical-align: middle

		li
			display: inline-block
			vertical-align: middle
			
.tags
	color: $light
	font-size: 12px 
	+r(1023)
		display: inline-block
		vertical-align: middle
	li
		+r(1023)
			display: inline-block
			vertical-align: middle
	a
		color: $green
		+tr(color .2s)
		&:hover
			color: $green_h
	

.share
	margin-left: -300px
	+r(1230)
		margin-left: -240px
	+r(1023)
		margin-left: 0
	.meta,
	.soc
		display: inline-block
		vertical-align: middle
		+r(767)
			margin-bottom: 0
	.meta
		margin-right: 10px
	&_single
		margin-left: 0
	&_mob
		.soc
			+r(767)
				display: block
				margin-top: 10px 
.comment
	background: $green
	color: #fff
	padding: 20px 25px
	position: relative
	&:before
		content: ""
		display: block
		+svg(info2, 9,17) 
		position: absolute
		width: 40px
		height: 40px
		background-color: $green
		background-position: center center
		border-radius: 50%  
		left: -300px 
		top: 0
		+r(1230)
			left: -240px 
		+r(1023)
			display: none
.text-col2
	position: relative
	margin: 35px 0 
	padding: 35px 0 
	z-index: 2
	&:before,
	&:after
		content: ''
		position: absolute
		right: 0
		left: -300px
		height: 1px
		background: #efeeeb
		display: block
		z-index: -1 
		+r(1230)
			left: -240px  
		+r(1023) 
			left: 0
	&:before
		top: 0
	&:after
		bottom: 0
	&__title
		position: absolute
		left: -300px 
		font-size: 24px 
		color: #a8ae9d
		width: 200px  
		+r(1230)
			left: -240px
		+r(1023)
			position: static
.quote
	position: relative
	&:before
		content: ''
		position: absolute
		left: -300px 
		+svg(quote,130,80)
		+r(1230)
			left: -240px
		+r(1023)
			display: none
	&__in
		background: #f6f6f4
		padding: 20px 25px 
	&__text
		padding-right: 30px
		color: #75776a 
		margin-bottom: 15px 
		+r(767)
			padding-right: 0 
.gray-box
	position: relative
	padding: 35px 0 
	margin: 35px 0 
	z-index: 2
	&:before
		content: ""
		position: absolute
		right: -1000px
		left: -1000px
		top: 0
		bottom: 0 
		background: #f6f6f4 
		z-index: -1 
.with-sidebar
	position: relative
	.sidebar-block
		width: 200px
		position: absolute
		left: -300px
		+r(1230)
			left: -240px
		+r(1024)
			position: static
			width: auto
.form-box
	padding-bottom: 80px 
	form
		margin-top: 60px 
.table-box
	.sidebar-block
		top: 25px 

.sidebar-vid
	position: relative
	display: inline-block
	line-height: 0
	font-size: 0
	.icon-play
		+vcenter
	



		  